<div class="ionic ionic-body">
    <div class="bar bar-header bar-positive">
        <div class="buttons">
            <button ui-sref="pin" class="button button-icon icon ion-log-out flat"></button>
        </div>
        <h1 class="title">Sites list</h1>
        <div class="buttons">
            <button ui-sref="allwork" class="button button-icon icon ion-navicon-round flat"></button>
        </div>
    </div>
    <ion-content class="content has-header">
        <ion-list type="card" can-swipe="listCanSwipe" class="list condensed-space no-padding">
            <ion-item ng-repeat="site in sites" class="item">
                <ion-toggle ng-change="save(site)" ng-model="site.enabled" toggle-class="toggle-calm">{{site.title}}</ion-toggle>
                <ion-option-button class="button-assertive" ng-click="del(site)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="fab-right">
        <nav class="addsite" mfb-menu ng-click="addSite()" position="b" menu-state="menuOpened" effect="zoomin" label="Add" active-icon="ion-plus" resting-icon="ion-plus" toggling-method="click">
        </nav>
    </ion-footer-bar>
</div>
